In [44]:
import pandas as pd

In [45]:
heart_dataset=pd.read_csv("../dataset/heart.csv")

In [46]:
heart_dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [47]:
heart_dataset.shape

(303, 14)

In [48]:
heart_dataset["target"].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [49]:
heart_dataset.groupby("target").mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.601449,0.826087,0.478261,134.398551,251.086957,0.159420,0.449275,139.101449,0.550725,1.585507,1.166667,1.166667,2.543478
1,52.496970,0.563636,1.375758,129.303030,242.230303,0.139394,0.593939,158.466667,0.139394,0.583030,1.593939,0.363636,2.121212

In [50]:

X=heart_dataset.drop(columns=["target"],axis=1)
y=heart_dataset["target"]

In [56]:
from sklearn.model_selection import train_test_split

In [57]:

X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [60]:
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, precision_score, recall_score
import warnings
warnings.filterwarnings("ignore")

Confusion Matrix:
 [[27  2]
 [ 7 25]]
Precision: 0.9259259259259259
Recall: 0.78125
Accuracy of the model is: 0.8524590163934426

In [61]:
model = LogisticRegression()
model.fit(X_train,Y_train)
y_pred=model.predict(X_test)
# Metrics
conf_matrix = confusion_matrix(Y_test, y_pred)
precision = precision_score(Y_test, y_pred)
recall = recall_score(Y_test, y_pred)
accuracy = accuracy_score(Y_test, y_pred)

print("Confusion Matrix:\n", conf_matrix)
print("Precision:", precision)
print("Recall:", recall)
print("Accuracy of the model is:",accuracy)

Confusion Matrix:
 [[25  4]
 [ 3 29]]
Precision: 0.8787878787878788
Recall: 0.90625
Accuracy of the model is: 0.8852459016393442

In [62]:
import pickle
filename="heat_model.pkl"
pickle.dump(model,open(filename,"wb"))